* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    background:pink;
    border-radius: 20px;
    box-shadow: 4px 4px 5px black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row {
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-shrink: 1;
}

.box {
    background: lightgreen;
    padding: 5vmin;
    margin: 1vh 1vh;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
}

.a {background: rgb(221,68,167);}
.b {background: rgb(226,113,167);}
.c {background: rgb(232,139,195);}
.d {background: rgb(238,166,209);}
.e {background: rgb(243,194,224);}

.f {background: rgb(204,81,155);}
.g {background: rgb(212,106,169);}
.h {background: rgb(221,132,185);}
.i {background: rgb(229,160,201);}
.j {background: rgb(238,190,218);}

.k {background: rgb(187,74,142);}
.l {background: rgb(196,99,158);}
.m {background: rgb(221,154,194);}
.n {background: rgb(232,185,213);}

.o {background: rgb(170,68,129);}
.p {background: rgb(184,92,147);}
.q {background: rgb(196,119,166);}
.r {background: rgb(212,148,186);}
.s {background: rgb(226,181,208);}

.t {background: rgb(153,61,116);}
.u {background: rgb(170,85,136);}
.v {background: rgb(187,112,157);}
.w {background: rgb(204,142,179);}
.x {background: rgb(221,176,203);}

.heart {background:pink;}


.box:hover {background: mistyrose;}
.heart:hover {
    background: pink;
    background-image: url(https://raw.githubusercontent.com/beckahwiden/webdev1/main/assignments/smartphone/kisspng-clip-art-heart-image-portable-network-graphics-tra-heart-cluster-transparent-amp-png-clipart-free-d-5cfb59ae146ad0.3471558615599763660836.png);
    background-size: cover;
}

