* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    background:orange;
    border: solid black;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vmin;
    width: 50vmin;
    display: flex;
    flex-direction: row;    justify-content: space-around;
}

.column1 {
    /* background: purple; */
    padding: 1px;
    margin: 10vh 1vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 1;
}

.box1 {
    background: lightgreen;
    padding: 1vh;
    margin: 1vh 1vh;
    border: solid crimson;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.column2 {
    /* background: blue; */
    padding: 1px;
    margin: 10vh 1vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box2 {
    background: lightgreen;
    padding: 1vh;
    margin: 1vh 1vh;
    border: solid crimson;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.column3 {
    /* background: red; */
    padding: 1px;
    margin: 10vh 1vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box3 {
    background: lightgreen;
    padding: 1vh;
    margin: 1vh 1vh;
    border: solid crimson;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.column4 {
    /* background: turquoise; */
    padding: 1px;
    margin: 10vh 1vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box4 {
    background: lightgreen;
    padding: 1vh;
    margin: 1vh 1vh;
    border: solid crimson;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;}

.column5 {
    /* background: magenta; */
    padding: 1px;
    margin: 10vh 1vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box5 {
    background: lightgreen;
    padding: 1vh;
    margin: 1vh 1vh;
    border: solid crimson;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.a {
    background: yellow;
}

.heart {
    background: lightpink;
    padding: 1vh;
    margin: 1vh 1vh;
    border: solid lightpink;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;