* { margin: 0; padding: 0; box-size: border-box; }

.dialogue_box {
    width: 50vmin;
    height: 20vmin;
    background: lightgray;
    border: 2px solid black;
    position: relative;
    left: 30vw;
    top: 30vh;
}

.close_button {
    background:red;
    position: absolute;
    right: 0;
    top: 0;
    padding: .125em .325em;
}