* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  @keyframes move {
      0%  {left: 0px;  background-color: black; border: 1px dashed red;}
      10% {left: 20px;}
      15% {left: 20px;}
      30% {left: 50px;}
      45% {left: 50px;}
      50% {left: 50px;}
      55% {left: 55px;}
      60% {left: 80px;}
      65% {left: 82px;}
      66% {left: 85px;}
      67% {left: 86px;}
      68% {left: 90px;}
      70% {left: 150px;}
      75% {left: 160px;}
      77% {left: 170px;}
      78% {left: 170px;}
      80% {left: 170px;}
      82% {left: 170px;}
      85% {left: 171px;}
      90% {left: 172px;}
      91% {left: 172px;}
      92% {left: 172px;}
      95% {left: 173px;}
      96% {left: 174px; color: black; background-color: black;}
      97% {left: 176px;}
      98% {left: 178px; color: orangered; background-color: orangered;}
      99% {left: 178px; border: 1px dashed red;}
      100% {left: 179px; color: black; background-color: red; border: 1px dashed lightsalmon;}
  }

  @keyframes back {
      0% {left: 0px;}
      98% {left: 210px; background: white; padding: 2px; border: 1px solid white;}
      100% {top: 25px; left: 210px; background: red; border: 1px solid black; padding: 2px;}
  }

  .bar {
    margin: 10vh;
    width: 204px;
    height: 20px;
    background-color: red;
    border: 2px solid black;
    position: relative;
  } 

  .loading {
      margin: 10vh;
      width: 20px;
      height: 20px;
      background-color: black;
      border: 1px dashed red;
      text-align: center;
      position: absolute;
      left: 0px;
      top: 0px;
      animation-name: move;
      animation-delay: 5s;
      animation-duration: 120s;
      animation-fill-mode: forwards;
  }

  .back {
    margin: 10vh;
    position: absolute;
    left: 0px;
    top: 20px;
    color: rgba(0,0,0,0);
    animation-name: back;
    animation-delay: 6s;
    animation-duration: 120;
    animation-fill-mode: forwards;
  }

  a:link {color: white;}
  a:visited { color: white;}
