* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}
section {
    margin: 2rem .5em;
    padding: 1em;
    border: 2px solid grey;
}

.vmin_demo {
    background: lightskyblue;
    font-size: 5vmin;
}
.section_em {
    font size: 40px;
}

.section_vmin img {
    width: 30vw;
}
.box_em {
    font-size: 6vmin;
    width: max-content;
    padding: 2em;
    background: grey;
    margin: 1rem;
    color: white;
}
