body {
     background-image: url('gifs/flames3.gif');
    /*background: darkgray;*/
}

a:link {
    color: white;
}
a:visited {
    color: grey;
}
a:hover {
    color: red;
}

header {
    font-size: 5rem;
    font-family: cursive;
    color:red;
    text-align: center;
}

.toc {
    margin-top:0px;
    text-align: center;
    color: red;
}

#about {
    color: white;
}

#BFF {
    background: maroon;
    border-style: double;
    border-color: black;
    padding: 10px;
    margin-right: 75%;
    margin-bottom: 10px;
    color: white;
}

#BFF2 {
    text-align: justify;
    padding: 10px;
    margin-right: 75%;
    margin-bottom: 10px;
    color: white;
}

#links {
    color: white;
    font-family:'Courier New', Courier, monospace;
}

#gb {    
    color: white;
    font-family: cursive;
}


footer {
    padding-top: 10em;
}

.banner {
    width: 100px;
    padding-left: 40%;
}

.blood {
    width: 50%;
    position: relative;
    left: 25%;
}

.dollz {
    height: 175px;
    position: fixed;
    right: 2em;
    bottom: 2em;
}

.hawks {
    height: 15px;
}