* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background:burlywood;
}

.container {
    margin: 1em;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

img {
    width: 20vw;
}

.pic {
    background:white;
}

/* .j {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: .25em;
    border: solid gray 5px;
} */